name: Build and push docker image

on:
  push: 
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code      #download code from repo
        uses: actions/checkout@v4    
    
      - name: Install java with corret version
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
    
      - name: Build JAR
        run: mvn -B clean package
    
      - name: Build dockerimage with buildpacks (No dockerfile)
        run: mvn spring-boot:build-image "-Dspring-boot.build-image.imageName=${{ secrets.DOCKERHUB_USERNAME }}/demo1:latest"
    
      - name: Login to dockerhub
        uses: docker/login-action@v3
        with: 
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
    
      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/demo1:latest
    
